<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Теплосети</title>
    <link rel="stylesheet" href="../styles/style.css" >
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
</head>
<body>
    <div class="my-grid">
        <header>
            <div class="container">
                <div class="top-header">
                    <div class="logo">
                        <h1><a href="index.html">Лого</a></h1>
                    </div>
                   
                    <div class="header-menu">
                        <div class="menu">
                            <div class="left"><a href="about-us.html"><p class="about-us standfont">О нас  <span><i class='fa fa-chevron-down'></i></span></p></a></div>
                            <div class="left"><a href="#"><p class="our-mission standfont">Наша миссия <span> <i class='fa fa-chevron-down'></i></span></p></a></div>
                            <div class="left"><a href="#"><p class="contacts standfont">Контакты  <span>  <i class='fa fa-chevron-down'></i></span></p></a></div>
                        </div>
                        <div class="language right">
                            <p class="standfont">Язык:
                                <span><a href=""><img class="right flag" src="../images/RU.png" alt="russian-flag"></a></span>
                                <span><a href=""><img class="right flag" src="../images/KG.png" alt="kyrgyz-flag"></a></span>
                            </p>
                        </div>
                    </div>
                    
                </div> 
            </div>
        </header>
        <main>
            <div class="container">
                <div class="info-pages">
                    <h1 class="h1">Название страницы</h1>
                    <p>Josh Frydenberg was elected to the Australian Parliament in 2010 as the Member for Kooyong. He is the seventh person since Federation to hold this seat.
                        Josh Frydenberg was elected to the Australian Parliament in 2010 as the Member for Kooyong. He is the seventh person since Federation to hold this seat.
                        Josh Frydenberg was elected to the Australian Parliament in 2010 as the Member for Kooyong. He is the seventh person since Federation to hold this seat.
                        Josh Frydenberg was elected to the Australian Parliament in 2010 as the Member for Kooyong. He is the seventh person since Federation to hold this seat.
                        Josh Frydenberg was elected to the Australian Parliament in 2010 as the Member for Kooyong. He is the seventh person since Federation to hold this seat.
                        Josh Frydenberg was elected to the Australian Parliament in 2010 as the Member for Kooyong. He is the seventh person since Federation to hold this seat.
                        Josh Frydenberg was elected to the Australian Parliament in 2010 as the Member for Kooyong. He is the seventh person since Federation to hold this seat.
                        Josh Frydenberg was elected to the Australian Parliament in 2010 as the Member for Kooyong. He is the seventh person since Federation to hold this seat.
                        Josh Frydenberg was elected to the Australian Parliament in 2010 as the Member for Kooyong. He is the seventh person since Federation to hold this seat.
                        Josh Frydenberg was elected to the Australian Parliament in 2010 as the Member for Kooyong. He is the seventh person since Federation to hold this seat.
                        Josh Frydenberg was elected to the Australian Parliament in 2010 as the Member for Kooyong. He is the seventh person since Federation to hold this seat.
                        Josh Frydenberg was elected to the Australian Parliament in 2010 as the Member for Kooyong. He is the seventh person since Federation to hold this seat.
                        Josh Frydenberg was elected to the Australian Parliament in 2010 as the Member for Kooyong. He is the seventh person since Federation to hold this seat.
                        Josh Frydenberg was elected to the Australian Parliament in 2010 as the Member for Kooyong. He is the seventh person since Federation to hold this seat.
                        Josh Frydenberg was elected to the Australian Parliament in 2010 as the Member for Kooyong. He is the seventh person since Federation to hold this seat.
                        Josh Frydenberg was elected to the Australian Parliament in 2010 as the Member for Kooyong. He is the seventh person since Federation to hold this seat.
                        Josh Frydenberg was elected to the Australian Parliament in 2010 as the Member for Kooyong. He is the seventh person since Federation to hold this seat.
                        Josh Frydenberg was elected to the Australian Parliament in 2010 as the Member for Kooyong. He is the seventh person since Federation to hold this seat.
                        Josh Frydenberg was elected to the Australian Parliament in 2010 as the Member for Kooyong. He is the seventh person since Federation to hold this seat.
                        Josh Frydenberg was elected to the Australian Parliament in 2010 as the Member for Kooyong. He is the seventh person since Federation to hold this seat.
                        Josh Frydenberg was elected to the Australian Parliament in 2010 as the Member for Kooyong. He is the seventh person since Federation to hold this seat.
                        Josh Frydenberg was elected to the Australian Parliament in 2010 as the Member for Kooyong. He is the seventh person since Federation to hold this seat.
                        Josh Frydenberg was elected to the Australian Parliament in 2010 as the Member for Kooyong. He is the seventh person since Federation to hold this seat.
                        Josh Frydenberg was elected to the Australian Parliament in 2010 as the Member for Kooyong. He is the seventh person since Federation to hold this seat.
                        </p>
                </div>
            </div>
        </main>


        <footer>
            <div class="container">
                <div class="footer-contacts">
                    <div class="our-contacts">
                        <p>Наши контакты</p>
                        <ul id="phone">
                            <li><img src="../images/icons/phone.png" alt="phone-icon"><span>+996 (777) 44 55 66</span></li>
                            <li><img src="../images/icons/phone.png" alt="phone-icon"><span>+996 (777) 44 55 66</span></li>
                            <li><img src="../images/icons/phone.png" alt="phone-icon"><span>+996 (777) 44 55 66</span></li>
                        </ul>
                        <div class="between-contacts"></div>
                        <ul id="snss">
                            <li class="sns"><img src="../images/icons/facebook.png" alt="facebook-icon"><span> Facebook</span></li>
                            <li class="sns"><img src="../images/icons/whatsapp.png" alt="whatsapp-icon"><span>Instagram</span></li>
                            <li class="sns"><img src="../images/icons/youtube.png" alt="youtube-icon"><span>Youtube</span></li>
                        </ul>
                        <div class="between-contacts"></div>
                        <ul id="address">
                            <li><img src="../images/icons/locate.png" alt="location-icon"><span>г.Бишкек, пр.Чуй</span></li>
                        </ul>
                        
                    </div>
                    <img src="../images/location.png" alt="logo-location-map">
                    <div id="line64"></div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>