body {
    background-color: #E5E5E5;
    margin-top : 0;
    /* width: 1366px; */
}
.my-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin: auto;
    max-width: 1366px;
    background: #ffffff;
}
header.container {
    max-width: 1366px;
    height: 64px;
    margin: 0 auto;
    background: #ffffff;
    display: grid;
    grid-template-columns: auto;
}
main.container {
    max-width: 1366px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto;
}
footer.container {
    max-width: 1366px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}
.left {
    float: left;
}
.right {
    float: right;
}

.standfont {
    font-family: Helvetica;
    font-weight: 300;
    z-index: 2;
}
.smallfont {
    font-size: 11px;
    font-weight: 400;
    font-family: Helvetica;
}
.h1 {
    font-family:Helvetica;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
}
.h3 {
    font-weight: 700;
    font-family: Helvetica;
    color: white;
    font-size: 20px;
    padding-left: 24px;
    margin-top: -7px;
}
.h5 {
    font-weight: 700;
    font-family: Helvetica;
    color: white;
    size: 13px;
    padding-left: 10px;
}
p {
    font-size: 15px;
    font-family: Helvetica;
}

/* header menu */

div.top-header {
    display: flex;
    position: absolute;
    width: 1366px;
    height: 64px;
    background: #FFFFFF;
}

.logo h1 > a {
    width: 70px;
    height: 36px;
    padding-left: 102px;
    position: absolute;
    font-family:Helvetica;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    color: #0F2A59;
    margin-top: -6px;
    cursor: pointer;
}

.header-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    width: 881px;
    height: 24px;
    padding-top: 20px;
    padding-left: 378px;
    
}
.menu {
    width: 325px;
    height: 20px;
    gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute; 
}
a {
    text-decoration: none;
}

.menu div a > p {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0;
    padding-top: 0;
    height: 17px;
    font-size: 15px;
    font-style: normal;
    color: black;

}
.about-us {
    width: 75px;
    padding-top: 0;
    border-right: 0.5px solid grey;
}
.our-mission {
    width: 127px;
    padding-top: 1.5px;
    border-right: 0.5px solid grey;
}
.contacts {
    width: 94px;
    padding-top: 1.5px;
}
i.fa.fa-chevron-down {
    padding-left: 5px;
    font-size: 11px;
}
.language {
    position: absolute;
    width: 112px;
    height: 24px;
    padding-left: 766px;
    display: flex;
    justify-content: flex-end;
    margin-top: -27px;
}

.flag {
    margin-top: -3px;
}
img.right.flag:nth-child(1) {
    padding-left: 5px;
}
img.right.flag:nth-last-child(1) {
    padding-left: 5px;
}

/* slider  */

.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1366px;
    height: 100%;
    padding-top: 64px;
}
.slider {
    max-width: 100%;
    position: relative;
}
.slides {
    display: flex;
    overflow-x: scroll;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}
#slide1 {
    background-image: url('../images/main-banner.png');
}
#slide2 {
    background-image: url('../images/baner2.png');
}
#slide3 {
    background-image: url('../images/main-banner.png');
}
#slide4 {
    background-image: url('../images/baner2.png');
}
#slide5 {
    background-image: url('../images/main-banner.png');
}
img#workers {
    position: absolute;
    width: 732px;
    margin-top: -185px;
    margin-left: 166px;
}

#slide1, #slide2, #slide3, #slide4, #slide5 {
    width: 1366px;
    height: 568px;
    display: inline-block;
}

.slide {
    display: flex;
    flex-shrink: 0;
    width: 1366px;
    height: 568px;
    margin-right: 0px;
    box-sizing: border-box;
    transform-origin: center center;
    transform: scale(1);
    scroll-snap-align: center;
}

h1.slider-text {
    font-size: 28px;
    font-family: Helvetica;
    padding: 232px 0 0 160px;
    margin-left: 0;
    color: #FFFFFF;
    margin: 0;
}
#slide1 > p, #slide2 > p, #slide3 > p, #slide4 > p, #slide5 > p {
    font-family: Helvetica;
    font-weight: 300;
    padding: 27px 0 0 160px;
    margin: 0;
    color: white;
    font-size: 15px;
}

button.detail-button {
    width: 198px;
    height: 40px;
    background: transparent;
    font-size: 15px;
    cursor: pointer;
}
.detail-button.bannerb {
    margin-left: 160px;
    margin-top: 55px;
    color: #ffffff;
    border: 1px solid #ffffff;
}

img.previous-button, img.next-button {
    width: auto;
    height: 39px;
    margin-left: -4px;
    margin-top: -1px;
}

a.slide-previous, a.slide-next {
    text-decoration: none;
    top: 48%;
    box-sizing: border-box;
    display: flex;
}

a.slide-previous {
    position: absolute;
    align-items: left;
    margin-left: 25px;
    padding: 3px 3px 3px 3px;
}
a.slide-next {
    align-items: center;
    margin-right: 40px;
    padding: 3px 0px 3px 5px;
    float: right;
    margin-top: -36px;
}
div.dots div {
    background-color: white;
}


/* Under slider menu  */

.under-slider-menu {
    width: 1366px;
    height: 200px;
    background: #ffffff;
}

.menu-box {
    width: 368px;
    height: 130px;
    background-color: #F8F8F8;
    margin-top: 32px;
    cursor: pointer;
}
.menu-box:nth-child(1) {
    margin-right: 25px;
    margin-left: 92px;
    border-left: 5px solid #b2afaf;
}
.menu-box:nth-child(2), .menu-box:nth-last-child(1) {
    border-left: 5px solid #0F2A59;
}
.menu-box.right:nth-last-child(1) {
    margin-right: 102px;
}
.menu-box:nth-child(1) > p {
    padding-left: 15px;
    font-size: 15px;
}
.menu-box > p {
    padding-left: 15px;
    font-size: 15.1px;
}
.menu-box > h4  {
    padding-left: 15px;
    font-size: 16px;
    margin-top: 19px;
    margin-bottom: -4px;
}
.menu-box:nth-child(1) > p:nth-child(1) {
    font-size: 17px;
    padding-top: 1px;
    margin-bottom: -6px;
}

.menu-box.left.standfont:nth-child(2) {
    margin-left: 1px;
}


.menu-box:nth-child(1) > .menu-icons {
    float: right;
    display: inline-flex;
    margin-top: -59px;
    margin-right: 29px;
}
.menu-box:nth-child(2) > .menu-icons, .menu-box:nth-last-child(1) > .menu-icons {
    position: absolute;
    margin-top: -80px;
    margin-left: 251px;
}

/* Current news */

#current-news {
    margin-top: 66px;
    height: 492px;
    width: 1366px;
}
#current-news div > h1 {
    padding-left: 92px;
    padding-top: 3px;
    margin-bottom: 27px;
    color: #0F2A59;
}

div#main-news {
    background-image: url('../images/first-news.png');
    width: 568px;
    height: 383px;
    margin-left: 91px;
    float: left;
    cursor: pointer;
}
.data {
    color: white;
    padding-top: 107px;
    padding-left: 11px;
    position: absolute;
}
.data-main {
    position: relative;
    color: white;
    padding-top: 272px;
    font-size: 15px;
    padding-left: 24px;
}

div#other-news {
    width: 699px;
    height: 383px;
    float: right;
}
div.news, div.news-below {
    width: 268px;
    height: 181px;
    cursor: pointer;
}
div.news-below {
    margin-top: 20px;
}
.news.right, .news-below.right {
    padding-left: 8px;
}
.news:nth-child(1) {
    background-image: url('../images/second-news.png')
}
.news:nth-child(2) {
    background-image: url('../images/fourth-news.png')
}
.news-below:nth-child(1) {
    background-image: url('../images/third-news.png')
}
.news-below:nth-child(2) {
    background-image: url('../images/fifth-news.png')
}

div#first-row-news,  div#second-row-news {
    margin-left: 24px;
    margin-right: 99px;
}
div.news-below > h5 {
    position: relative;
}
div.news > data {
    position: relative
}
.news > h5, .news-below > h5 {
    padding-top: 116px;
}


/* How we started */

div#how-we-started {
    background: white;
    height: 586px;
    display: flex;
}

.left.scenery {
    padding-left: 91px;
    padding-top: 57px;
}

#scenery {
    width: 900px;
    height: 480px;
    background-image: url('../images/scenery.png');
    display: flex;
}

#scenery-side, #who-we-side {
    width: 268px;
    height: 480px;
    background: #FAFAFA;
    display: flex;
}

.overlay {
    background: #ffffff;
    z-index: 2;
    position: absolute;
    display: inline-flex;
   
}
div#overlay-scenery, div#overlay-who-we {
    width: 540px;
    height: 365px;
}
div#overlay-scenery {
    margin-left: -336px;
    margin-top: 57px;
}

div#overlay-scenery div > .h1,
div#overlay-goals div > .h1,
div#overlay-who-we div > .h1
{
    padding-left: 48px;
    padding-top: 30px;
}

div#overlay-scenery div p,
div#overlay-goals div p,
div#overlay-who-we div p {
    margin-top: -5px;
    padding-left: 48px;
    color: #B6B6B6;
    line-height: 1.3;
}
div#overlay-scenery div,
div#overlay-goals div,
div#overlay-who-we div {
    width: 484px;
}

div#overlay-scenery div button,
div#overlay-goals div button,
div#overlay-who-we div button {
    margin-left: 48px;
    border: 1px solid #0F2A59;
    width: 260px;
    color: #0F2A59;
}
div#overlay-scenery div button,
div#overlay-who-we div button {
    margin-top: 6px;
}


/* Our future goals  */
#goals {
    width: 368px;
    height: 480px;
    background: #FAFAFA;
}

#goals-side {
    background-image: url('../images/our-goal-pic.png');
    width: 800px;
    height: 480px;
}
.left.goals {
    padding-left: 91px;
}
div#overlay-goals {
    width: 540px;
    height: 384px;
    margin-left: -304px;
    margin-top: 47px;
}
div#overlay-goals div button {
    margin-top: 8px;
}


/* Who we are? */
.left.who-we {
    margin-top: 47px;
    margin-left: 91px;
}
#who-we {
    width: 898px;
    height: 480px;
    background-image: url('../images/who-we-are-pic.png');
    display: flex;
    
}
div#overlay-who-we {
    margin-left: -314px;
    margin-top: 47px;
}


/* Footer  */

.footer-contacts {
    width: 1366px;
    height: 478px;
    background-color: #181818;
    margin-top: 80px;
}

.footer-contacts > img {
    width: 869px;
    height: 342px;
    position: absolute;
    padding-left: 391px;
    margin-top: -340px;
}
.our-contacts p {
    color: white;
    font-size: 24px;
}
.our-contacts ul li span {
    color: white;
    font-family: Helvetica;
}

.our-contacts ul#phone > li {
    list-style: none;
    margin-left: -22px;
    margin-top: -22px;
    line-height: 3.7;
    font-size: 15px;
}

div.our-contacts {
    margin-left: 91px;
    padding-top: 33px;
}


.between-contacts {
    width: 200px;
    height: 1px;
    background-color: #262626;
    margin-top: -17px;
}

.our-contacts ul li > img {
    margin-left: -17px;
    padding-right: 17px;
}
.our-contacts#snss > li {
    margin-top: 5px;
}
li.sns {
    margin-left: -22px;
    line-height: 2;
    margin-top: 2px;
}
li.sns span {
    font-size: 15px;
}
div.between-contacts:nth-child(2) {
    margin-top: 10px;
}

ul#snss {
    margin-bottom: 26px;
}
ul#address {
    margin-left: -16px;
    margin-top: 25px;
}
ul#address li {
    font-size: 13.5px;
    margin-top: -3px;
    margin-left: -2px;
}
#line64 {
    width: 1169px;
    border: 0.5px solid #262626;
    color: #262626;
    margin-left: 91px;
    margin-top: 49px;
}

/* About Us  */

.info-pages {
    display: grid;
    width: 868px;
    height: 700px;
    padding-left: 91px;
    margin-top: 79px;
}

.info-pages > p {
    font-size: 14px;
    color: grey;
    line-height: 1.5;
    letter-spacing: 0.31px;
}
.info-pages > h1 {
    font-size: 32px;
    margin-bottom: 6px;
}